
/* Application wide styles */
page {
    background-color: #383838;
}

button { 
    background-color: orange;
    color: black;
}

.tab-content {
    
    color: #808080;
    font-size: 16;
    padding: 3;
}

.title {
    margin: 5,15,0,15;
    font-size: 24;
    color: #fff;
}

.txthint {
    color: black;
    background-color:#fff;
    margin: 7,15,0,15;
}

page {
    background-color: #555555;
   
}

button {
    background-color: orange;
    color: black;
    margin: 15,15,0,15;
    font-size: 20;
}
